.briefList {
  margin-bottom: 30px;
}

.briefList__time, .briefList__kicker {
  display: block;
  font-size: 1.4rem;
  color: #777777;
  margin-bottom: 10px;
}

.briefList__hdl {
  font-size: 1.6rem;
  font-weight: 700;
}