.list {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  @include sm {
    flex-direction: row;
  }
}

.list__img {
  margin-bottom: 20px;
  @include sm {
    flex: 0 0 200px;
    margin-right: 30px;
    margin-bottom: 0px;
  }
  @include md {
    flex: 0 0 280px;
  }
}

.list__text {
 flex: 1 1 auto;
}

.list__kicker {
  display: block;
  margin-bottom: 10px;
}

.list__hdl {
  font-size: 2rem;
  font-weight: 700;
}

.list__lead {
  margin-top: 10px;
  margin-bottom: 0px;
}

.topic .list {
  margin-left: 0px;
  @include sm {
    margin-left: 30px;
  }
}