.main {
}

.mainCols {
  display: flex;
  flex-direction: column;
  @include lg {
    flex-direction: row;
  }
}

.main--left {
  flex: 1 1 auto;
}

.main--right {
  flex: 0 0 300px;
  margin-top: 30px;
  @include lg {
    margin-top: 0px;
    margin-left: 50px;
  }
}
