.onScrollNavbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: $colorWhite;
  color: #fff;
  padding: 10px 0px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.22);
  z-index: 999;
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
  transition: transform 0.5s ease-out;
  &--visible {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition: transform 0.5s ease-out;
  }
  ul {
    display: flex;
  }
}

.onScrollNavbarNav {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0px;
}

.onScrollNavbar__logo {
  width: 30px;
  margin-right: 15px;
}
