.section {

}

.section__hdl {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 2px solid #E0E0E0;
}

.section__hdl--small {
  font-size: 1.4rem;
  padding-bottom: 0px;
  border-bottom: none;
}